/* ------------------------------------------------------------ *\
	Article
\* ------------------------------------------------------------ */

.article {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
	align-content: center;
	gap: 4rem;

	@include breakpoint-down(mobile) {
		grid-template-columns: 1fr;
		gap: 0;
		row-gap: 4.8rem;
	}

	@include breakpoint-down(mobile-medium) {
		row-gap: 4.5rem;
	}

	& + & {
		margin-top: 8rem;
	}

	.article__tabs {
		margin: auto 0;
	}

	.article__content {
		margin: auto 0;
	}

	.article__btn {
		margin-top: 1.6rem;
	}

	.article__subtitle {
		color: $c-yellow;
	}

	.article__title {
		color: $c-yellow;
		margin-bottom: 2rem;

		@include breakpoint-down(mobile-medium) {
			font-size: 3.6rem;
			margin-bottom: 1.4rem;
		}
	}

	.article__entry {
		font-size: 1.8rem;
		max-width: 57rem;
		width: 100%;
		margin-bottom: 2.9rem;

		@include breakpoint-down(mobile-medium) {
			margin-bottom: 2.2rem;
		}
	}

	.article__link {
		text-decoration: none;
		display: inline-block;
		opacity: 0.6;
		transition: opacity 0.2s;
		font-size: 1.8rem;
		margin-bottom: 2.5rem;

		&:hover {
			opacity: 1;
		}

		@include breakpoint-down(mobile-medium) {
			margin-bottom: 3.4rem;
		}
	}

	.article__link span {
		display: inline-block;
		vertical-align: middle;
		margin-left: 0.5rem;
	}

	.article__link i {
		display: inline-block;
	}

	.article__link img {
		display: inline-block;
		vertical-align: middle;
	}

	.article__testimonial {
		margin-bottom: 2.4rem;

		@include breakpoint-down(mobile-medium) {
			margin-bottom: 3.2rem;
		}
	}

	.article__image {
		min-height: 62rem;
		padding-bottom: 52%;
		position: relative;

		@include breakpoint-down(mobile) {
			grid-row: 1 / 2;
			min-height: 0;
		}

		@include breakpoint-down(mobile-medium) {
			padding-bottom: 99.735%;
		}
	}

	.article__image img {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		height: 100%;
		width: 100%;
		object-fit: cover;
	}
}

/* article inverted  */

.article--inverted {
	.article__image {
		grid-column: 1 / 2;

		@include breakpoint-down(mobile) {
			grid-row: 1 / 2;
		}
	}

	.article__content {
		grid-column: 2 / 3;
		grid-row: 1 / 2;

		@include breakpoint-down(mobile) {
			grid-row: 2 / 3;
			grid-column: 1 / 2;
		}
	}
}

/* ARticle alt */

.article--alt {
	& + & {
		@include breakpoint-down(mobile-medium) {
			margin-top: 5.5rem;
		}
	}

	.article__subtitle {
		margin-bottom: 1.6rem;
	}

	.article__title {
		margin-bottom: 2.8rem;
		color: $c-white;

		@include breakpoint-down(mobile-medium) {
			font-size: 3.2rem;
		}
	}
}

/* Article Maker  */

.article--maker {
	p {
		margin-bottom: 2.9rem;
	}

	.article__subtitle {
		margin-bottom: 2.2rem;
	}
}
