.bottom-bar {
	background-color: $c-white;
	position: fixed;
	z-index: 9999;
	width: 100%;
	top: calc(100vh - 7rem);
	left: 0;
	right: 0;
	padding: 0.8rem 0;
	border-bottom: 0.1rem solid rgba($c-white, 0.4);
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.4s;

	@include breakpoint-down(mobile) {
		top: calc(100vh - 13.2rem);
	}

	&.is-intersecting {
		visibility: visible;
		opacity: 1;
	}

	ul {
		margin-bottom: 0;
	}

	span {
		font-family: $ff-digital;
		color: $c-black;
		font-size: 2.4rem;

		@include breakpoint-down(tablet) {
			font-size: 1.8rem;
			text-align: center;
		}

		@include breakpoint-down(mobile) {
			display: none;
		}
	}

	.bar__inner {
		max-width: 93.4rem;
		width: 100%;
		margin: 0 auto;
		display: flex;
		align-items: center;
		justify-content: space-between;

		@include breakpoint-down(tablet) {
			max-width: none;
			padding: 0 1rem;
		}

		@include breakpoint-down(mobile) {
			padding: 0 2rem;
		}
	}

	.bar__inner .countdown {
		@include breakpoint-down(mobile) {
			display: none;
		}
	}

	.bar__inner > * {
		@include breakpoint-down(tablet) {
			flex: 1 1;
		}
	}
}
