.bottom-bar {
	background-color: $c-white;
	position: fixed;
	z-index: 9999;
	width: 100%;
	top: calc(100vh - 6.9rem);
	left: 0;
	right: 0;
	padding: 0.8rem 0;
	border-bottom: 0.1rem solid rgba($c-white, 0.4);
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.4s;
	
	@include breakpoint-down(tablet) {
		top: calc(100vh - 12.1rem);
	}

	&.is-intersecting {
		visibility: visible;
		opacity: 1;
	}

	ul {
		margin-bottom: 0;
	}

	.bar__countdown {
		@include breakpoint-down(tablet) {
			margin-right: 1rem; 
		}

		@include breakpoint-down(mobile-medium) {
			margin-bottom: 1rem; 
		}
	}

	.bar__quantity,
	.bar__text {
		font-family: $ff-digital;
		color: $c-black;
		font-size: 2.4rem;

		@include breakpoint-down(tablet) {
			font-size: 1.8rem;
			text-align: center;
		}

		@include breakpoint-down(mobile-small) {
			font-size: 1.4rem;
		}
	}

	a {
		@include breakpoint-down(tablet) {
			display: block;
			width: 100%;
			// margin-top: 2rem;
		}
	}

	.bar__quantity {
		color: #ff4d00;
	}

	.bar__inner {
		max-width: 85rem;
		width: 100%;
		margin: 0 auto;
		display: flex;
		flex-flow: row wrap;
		align-items: center;
		justify-content: center;
		gap: 2rem;

		@include breakpoint-down(tablet) {
			justify-content: center;
			max-width: 75rem;
			padding: 1rem 1rem 0;
		}

		@include breakpoint-down(mobile) {
			padding: 1rem 2rem 0;
		}
	}
}

.bottom-bar--machine {
	top: calc(100vh - 6.8rem);

	@include breakpoint-down(tablet) {
		top: calc(100vh - 5.3rem);
	}

	@include breakpoint-down(mobile-medium) {
		top: calc(100vh - 9.6rem);
	}

	@include breakpoint-down(mobile-small) {
		top: calc(100vh - 9.1rem);
	}
}
