.bottom-bar {
	background-color: $c-white;
	position: fixed;
	z-index: 9999;
	width: 100%;
	top: calc(100vh - 6.9rem);
	left: 0;
	right: 0;
	padding: 0.8rem 0;
	border-bottom: 0.1rem solid rgba($c-white, 0.4);
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.4s;

	@include breakpoint-down(mobile) {
		top: calc(100vh - 6.7rem);
	}

	@include breakpoint-down(mobile-medium) {
		top: calc(100vh - 11rem);
	}

	@include breakpoint-down(mobile-small) {
		top: calc(100vh - 10.5rem);
	}

	&.is-intersecting {
		visibility: visible;
		opacity: 1;
	}

	ul {
		margin-bottom: 0;
	}

	span {
		font-family: $ff-digital;
		color: $c-black;
		font-size: 2.4rem;

		@include breakpoint-down(tablet) {
			font-size: 1.8rem;
			text-align: center;
		}

		@include breakpoint-down(mobile-small) {
			font-size: 1.4rem;
		}
	}

	a {
		@include breakpoint-down(mobile-medium) {
			display: block;
			width: 100%;
			margin-top: 2rem;
		}
	}

	.bar__quantity {
		color: #ff4d00;
	}

	.bar__inner {
		max-width: 62rem;
		width: 100%;
		margin: 0 auto;
		display: flex;
		flex-flow: row wrap;
		align-items: center;
		justify-content: space-between;

		@include breakpoint-down(tablet) {
			max-width: 75rem;
			padding: 0 1rem;
		}

		@include breakpoint-down(mobile) {
			padding: 0 2rem;
		}
	}
}

.bottom-bar--machine {
	top: calc(100vh - 6.8rem);

	@include breakpoint-down(tablet) {
		top: calc(100vh - 5.3rem);
	}

	@include breakpoint-down(mobile-medium) {
		top: calc(100vh - 9.6rem);
	}

	@include breakpoint-down(mobile-small) {
		top: calc(100vh - 9.1rem);
	}
}
