/* ------------------------------------------------------------ *\
	Button
\* ------------------------------------------------------------ */

.btn {
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	cursor: pointer;
	text-decoration: none;
	appearance: none;
	font-size: 1.6rem;
	padding: 1.6rem 2.4rem;
	border-radius: 3rem;
	transition: background-color $t-duration;

	@include breakpoint-down(tablet) {
		font-size: 1.4rem;
		padding: 1rem 2.4rem;
	}

	@include breakpoint-down(mobile-medium) {
		font-size: 1.2rem;
		padding: 1.2rem 1.5rem;
	}
}

.btn--yellow {
	background-color: $c-yellow;
	color: $c-black;

	&:hover {
		background-color: $c-yellow-dark;
	}
}

.btn--outline {
	border: 0.1rem solid $c-yellow;
	color: $c-yellow;

	@include breakpoint-down(mobile-medium) {
		padding: 1.4rem 1.5rem;
	}
}

.btn--yellow-2 {
	@include breakpoint-down(mobile-medium) {
		padding: 1.4rem 1.5rem;
	}
}

.btn--black {
	background-color: $c-black;
	color: $c-yellow;
	font-size: 2rem;
	padding: 1.4rem 2.2rem;
}

.btn--medium {
	font-size: 2rem;
	padding: 1.4rem 2.4rem;
}

.btn--large {
	font-size: 1.6rem;
	padding: 1.6rem 4.5rem;
}

.btn--spec {
	@include breakpoint-down(mobile) {
		padding: 1.4rem 1.8rem;
	}

	@include breakpoint-down(mobile-medium) {
		padding: 1.4rem 1.2rem;
	}
}

/*  Btn block  */

.btn--block {
	display: block;
	padding-left: 0;
	padding-right: 0;
}
