/* ------------------------------------------------------------ *\
	Dropdown
\* ------------------------------------------------------------ */

.dropdown {
	padding-top: 4rem;
	position: absolute;
	top: 9.9rem;
	left: 0;
	width: 100vw;
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
	z-index: 101;
	transition: opacity 0.5s;

	&.is-visible {
		opacity: 1;
		visibility: visible;
		pointer-events: auto;
	}

	@include breakpoint-down(tablet) {
		padding-top: 1.6rem;
	}

	@include breakpoint-down(mobile) {
		top: 14.8rem;
	}

	&:before {
		content: "";
		position: absolute;
		top: 3rem;
		right: 41rem;
		width: 0;
		height: 0;
		border-left: 17px solid transparent;
		border-right: 17px solid transparent;
		border-bottom: 10px solid $c-white;

		@include breakpoint-down(small-desktop) {
			right: 31rem;
		}

		@include breakpoint-down(tablet) {
			top: 0.6rem;
			right: 30rem;
		}

		@include breakpoint-down(mobile) {
			right: 5rem;
		}
	}

	h5 {
		color: $c-black;
		margin-bottom: 1.8rem;
	}

	h6 {
		font-size: 1.4rem;
	}

	.dropdown__inner {
		padding: 3.8rem 8rem 3.7rem;
		background-color: $c-white;

		@include breakpoint-down(small-desktop) {
			padding: 3rem 2rem;
		}
	}
}
