/* ------------------------------------------------------------ *\
	Form Sign Up
\* ------------------------------------------------------------ */

.form-sign-up {
	position: relative;
	padding: 4rem;
	
	@include breakpoint-down(mobile-medium) {
		padding: 1rem;
	}

	&:after {
		content: "";
		position: absolute;
		top: -7rem;
		right: -4rem;
		width: 6.1rem;
		height: 10rem;
		background-color: $c-black-2;
		border-left: 0.1rem solid $c-yellow;
		transform: rotateZ(322deg);

		@include breakpoint-down(tablet) {
			top: -6.3rem;
			right: -3.8rem;
			width: 5.1rem;
			height: 7.5rem;
		}

		@include breakpoint-down(mobile-medium) {
			top: -3.4rem;
			right: -2rem;
			width: 3rem;
			height: 4.2rem;
		}
	}

	input,
	select {
		width: 100%;
		padding: 1rem 2rem;
		border-radius: 10rem;
		font-size: 2rem;
		line-height: 1;
		color: rgba($c-black, 0.6);
		margin-top: 0.5rem;
		margin-right: 0;

		@include breakpoint-down(mobile) {
			font-size: 1.4rem;
		}
	}

	fieldset {
		max-width: 100%;
		width: 100%;
	}

	.hs-form .form-columns-2 .input,
	.hs-form .form-columns-1 .input {
		margin: 0;
	}

	.hs-form fieldset {
		max-width: 100%;
	}

	.hs-form-field label,
	.hs-form-field legend {
		font-size: 1.6rem;

		@include breakpoint-down(mobile-medium) {
			font-size: 1.2rem;
		}
	}

	.hs-form .form-columns-2 {
		display: flex;
		flex-flow: row wrap;
		align-items: flex-end;
		margin: 0 0 4.7rem;
		width: 100%;

		@include breakpoint-down(tablet) {
			flex-direction: column;
			align-items: center;
			margin: 0;
		}
	}

	.hs-form .form-columns-2 .hs-form-field {
		padding: 0 1rem;
		position: relative;

		@include breakpoint-down(tablet) {
			width: 100%;
			margin-bottom: 2.5rem;
			padding: 0;
		}
	}

	.hs-form fieldset.form-columns-2 .hs-input {
		width: 100% !important;
	}

	.hs-form .form-columns-1 {
		margin-bottom: 1rem;
	}

	.hs-form fieldset.form-columns-1 .hs-input {
		background-color: transparent;
		border: 0.1rem solid $c-white;
		color: rgba($c-white, 0.6);
		display: block;
		width: 100%;
	}
	
	.hs-submit {
		margin-top: 6rem;
	}

	.hs_submit .actions input {
		display: inline-block;
		border: none;
		max-width: 30rem;
		width: 100%;
		background-color: $c-yellow;
		color: $c-black;
		padding: 1.6rem 3.2rem;
		transition: background-color 0.3s;

		&:hover {
			background-color: $c-yellow-3;
		}
	}

	.no-list.hs-error-msgs.inputs-list li {
		list-style-image: url("../images/svg/icon--arrow--yellow.svg");
	}

	.hs_error_rollup {
		margin-top: 0.5rem;
	}
	
	.hs-email {
		position: relative;
	}

	.hs-error-msgs {
		position: absolute;
		bottom: -4rem;
		left: 0;
		margin: 0 0 0 2.5rem;
		list-style: none;

		@include breakpoint-down(small-desktop) {
			bottom: -3rem;
		}

	}

	.hs-error-msg,
	.hs-main-font-element {
		display: block !important;
		color: $c-white;
		opacity: 0.6;
	}

	.hs-form label.hs-error-msg {
		@include breakpoint-down(small-desktop) {
			font-size: 1.2rem;
		}

		@include breakpoint-down(mobile-small) {
			font-size: 1rem;
		}
	}
}
