/* ------------------------------------------------------------ *\
	Grid
\* ------------------------------------------------------------ */

.grid {
	display: flex;
	flex-flow: row wrap;

	.grid__col {
		max-width: 100%;
		flex: 1;
	}

	/*  Grid col 1of2  */
	.grid__col--1of2 {
		max-width: 50%;
		flex: 0 0 50%;
	}

	/*  Grid col 1of3  */
	.grid__col--1of3 {
		max-width: calc(100% / 3);
		flex: 0 0 calc(100% / 3);
	}
}

/* Grid Testimonial  */

.grid--testimonial {
	margin: 0 -2rem;

	@include breakpoint-down(mobile) {
		margin: -3.2rem 0;
	}

	.grid__col--1of2 {
		@include breakpoint-down(mobile) {
			max-width: 100%;
			flex: 0 0 100%;
		}
	}

	.grid__col {
		padding: 0 2rem;

		@include breakpoint-down(mobile) {
			padding: 3.2rem 0;
		}
	}
}

.grid--testimonial-alt {
	@include breakpoint-down(mobile) {
		margin: -2rem 0;
	}

	.grid__col {
		@include breakpoint-down(mobile) {
			padding: 2rem 0;
		}
	}
}

/*  Grid Default */

.grid--default {
	margin: 0 -2rem;

	@include breakpoint-down(tablet) {
		margin: 0 -1rem;
	}

	@include breakpoint-down(mobile) {
		margin: -2rem 0;
	}

	.grid__col {
		padding: 0 2rem;

		@include breakpoint-down(tablet) {
			padding: 0 1rem;
		}

		@include breakpoint-down(mobile) {
			padding: 2rem 0;
		}
	}

	.grid__col--1of3 {
		@include breakpoint-down(mobile) {
			max-width: 100%;
			flex: 0 0 100%;
		}
	}
}

/* Grid About */

.grid--about {
	margin: 0 -2rem;

	@include breakpoint-down(mobile) {
		margin: -3rem -2rem;
	}

	@include breakpoint-down(mobile-medium) {
		margin: -2.2rem 0;
	}

	.grid__col {
		padding: 0 2rem;

		@include breakpoint-down(mobile) {
			padding: 3rem 2rem;
		}

		@include breakpoint-down(mobile-medium) {
			padding: 2.2rem 0;
		}
	}

	.grid__col--1of3 {
		@include breakpoint-down(mobile) {
			max-width: 50%;
			flex: 0 0 50%;
		}

		@include breakpoint-down(mobile-medium) {
			max-width: 100%;
			flex: 0 0 100%;
		}
	}
}

/* Grid The Makers */

.grid--themakers {
	@include breakpoint-down(small-desktop) {
		margin: 0 -0.5rem;
	}

	@include breakpoint-down(tablet) {
		margin: -2rem;
	}

	@include breakpoint-down(mobile) {
		margin: -2rem 0;
	}

	.grid__col {
		@include breakpoint-down(small-desktop) {
			padding: 0 0.5rem;
		}

		@include breakpoint-down(tablet) {
			padding: 2rem;
		}

		@include breakpoint-down(mobile) {
			padding: 2rem 0;
		}
	}

	.grid__col--1of3 {
		@include breakpoint-down(tablet) {
			max-width: 50%;
			flex: 0 0 50%;
		}

		@include breakpoint-down(mobile) {
			max-width: 100%;
			flex: 0 0 100%;
		}
	}
}
