/* ------------------------------------------------------------ *\
	Hero
\* ------------------------------------------------------------ */

.hero {
	position: relative;
	min-height: calc(100vh - 4rem);
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
	margin-bottom: 16rem;

	@include breakpoint-down(tablet) {
		margin-bottom: 6rem;
	}

	@include breakpoint-down(mobile-medium) {
		margin-bottom: 11.7rem;
	}

	h1 {
		margin-bottom: 2.4rem;

		@include breakpoint-down(mobile) {
			font-size: 6.4rem;
		}

		@include breakpoint-down(mobile-medium) {
			margin-bottom: 3.4rem;
		}
	}

	p {
		font-size: 2.4rem;
		line-height: 1.33;
		letter-spacing: -0.004em;
		margin-bottom: 3.5rem;

		@include breakpoint-down(tablet) {
			font-size: 2rem;
			line-height: 1.4;
		}

		@include breakpoint-down(mobile-medium) {
			margin-bottom: 2.4rem;
		}
	}

	video,
	iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	.hero__background {
		position: absolute;
		width: 100%;
		height: 100%;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;
	}

	.hero__inner {
		position: absolute;
		bottom: 6.5rem;
		left: 0;

		@include breakpoint-down(small-desktop) {
			position: relative;
			bottom: auto;
			left: auto;
			padding: 18.3rem 0 6rem;
		}
	}

	.hero__content {
		position: relative;
		max-width: 67.5rem;
		width: 100%;

		@include breakpoint-down(mobile) {
			max-width: 100%;
		}
	}

	.hero__content h1 span {
		@include breakpoint-down(mobile-medium) {
			display: none;
		}
	}

	.hero__countdown {
		margin-bottom: 2.1rem;
	}

	.hero__notice {
		color: $c-yellow;
		font-size: 1.6rem;
		margin-bottom: 2rem;

		@include breakpoint-down(mobile-medium) {
			margin-bottom: 3rem;
		}
	}

	.hero__notice span {
		display: inline-block;
		margin-left: 0.7rem;

		@include breakpoint-down(mobile) {
			margin-left: 0;
		}
	}

	.hero__btn {
		position: absolute;
		right: 8rem;
		bottom: 6.5rem;
		animation: bounce 2s infinite;

		@include breakpoint-down(small-desktop) {
			right: 2rem;
		}
	}
}

/*  Hero Alt */

.hero--machine {
	margin-bottom: 0;

	h1 {
		@include breakpoint-down(mobile-medium) {
			font-size: 4.8rem;
		}
	}

	.hero__content {
		max-width: 86rem;
		transform: translateY(20rem);
		opacity: 0;
		visibility: hidden;
		transition: transform 0.8s, opacity 0.5s;
	}

	.hero__content.is-revealed {
		transform: translateY(0);
		opacity: 1;
		visibility: visible;
	}

	.hero__background video {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	.hero__inner {
		top: 50%;
		left: 0;
		bottom: auto;
		transform: translateY(-50%);

		@include breakpoint-down(small-desktop) {
			padding-top: 33.5rem;
			top: auto;
			left: auto;
			transform: translateY(0);
		}
	}

	.js-video-machine source {
		@include breakpoint-down(mobile) {
			display: none;
		}
	}
}

/* Hero makers */

.hero--makers {
	@include breakpoint-down(mobile) {
		min-height: 100vh;
	}

	h2 {
		@include breakpoint-down(mobile) {
			font-size: 3rem;
		}
	}

	.hero__background {
		&:after {
			content: "";
			background-color: rgba($c-black, 0.6);
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}

		@include breakpoint-down(mobile) {
			background-position: center right -18rem;
		}
	}
	.hero__inner {
		@include breakpoint-down(tablet) {
			position: relative;
		}
	}

	.hero__content p {
		@include breakpoint-down(mobile) {
			font-size: 1.8rem;
		}
	}
}

/* Animation */

@keyframes bounce {
	0%,
	20%,
	50%,
	80%,
	100% {
		transform: translateY(0);
	}
	40% {
		transform: translateY(-30px);
	}
	60% {
		transform: translateY(-15px);
	}
}
