/* ------------------------------------------------------------ *\
	Hidden imgs
\* ------------------------------------------------------------ */

.hidden-images {
	opacity: 0;
	visibility: hidden;
	position: absolute;
	top: -9999px;
	left: -9999px;
}
