/* ------------------------------------------------------------ *\
	List Features
\* ------------------------------------------------------------ */

.list-features {
	list-style: none;

	li {
		display: flex;
		align-items: flex-start;
		gap: 1.7rem;
	}

	li + li {
		margin-top: 2.3rem;
	}

	img {
		display: block;
	}

	i {
		flex-shrink: 0;
		padding-top: 0.2rem;
		display: inline-block;
		vertical-align: middle;
	}
}

/* List features alt */

.list-features--alt {
	li {
		font-size: 2.4rem;

		@include breakpoint-down(mobile) {
			font-size: 2rem;
		}
	}
}
