/* ------------------------------------------------------------ *\
	List Icons 
\* ------------------------------------------------------------ */

.list-icons {
	display: inline-block;
	list-style: none;

	li {
		display: inline-block;
	}

	li + li {
		margin-left: 0rem;
	}
}
