/* ------------------------------------------------------------ *\
	Price
\* ------------------------------------------------------------ */

.price {
	color: $c-yellow;
	display: block;
}

.price-old {
	display: inline-block;
	color: $c-red;
	position: relative;

	&:after {
		content: "";
		background-color: $c-red;
		width: 100%;
		height: 0.1rem;
		position: absolute;
		top: 50%;
		left: 0;
		right: 0;
		transform: translateY(-50%);
	}
}

.price-stamp {
	background-color: $c-red;
	font-size: 2.4rem;
	padding: 1.1rem 1.5rem;

	@include breakpoint-down(small-desktop) {
		padding: 1.1rem 1rem;
		font-size: 2rem;
	}
}
