/* ------------------------------------------------------------ *\
	ShowCase
\* ------------------------------------------------------------ */

.showcase {
	@include breakpoint-down(mobile-medium) {
		margin-top: 7.9rem;
	}
	.showcase__image {
		position: relative;
		padding-bottom: 46.12%;
	}

	.showcase__image img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

/* showcase-alt */

.showcase--alt {
	@include breakpoint-down(mobile-medium) {
		margin-top: 0;
	}
	.showcase__image {
		padding-bottom: 40.286%;

		@include breakpoint-down(mobile) {
			padding-bottom: 74.286%;
		}
	}

	.showcase__video {
		position: relative;
		padding-bottom: 46.12%;
	}

	.showcase__inner {
		position: relative;
		padding-bottom: 46.12%;
	}

	.showcase__gallery {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;
	}

	video {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}
