/* ------------------------------------------------------------ *\
	ShowCase
\* ------------------------------------------------------------ */

.showcase {
	.showcase__image {
		position: relative;
		padding-bottom: 46.12%;
	}

	.showcase__image img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

/* showcase-alt */

.showcase--alt {
	.showcase__image {
		padding-bottom: 40.286%;
	}
}
