/* ------------------------------------------------------------ *\
	Socials
\* ------------------------------------------------------------ */

.socials {
	list-style: none;
	margin-bottom: 0;

	li {
		display: inline-block;
		opacity: 0.4;
		transition: opacity 0.2s;

		&:hover {
			opacity: 1;
		}

		@include breakpoint-down(mobile-medium) {
			width: 1.6rem;
			height: 1.6rem;
		}
	}

	li + li {
		margin-left: 0.3rem;
	}

	a {
		display: inline-block;
	}
}

.socials--bar {
	li {
		opacity: 1;
	}
}
