/* ------------------------------------------------------------ *\
	Tab
\* ------------------------------------------------------------ */

.tab {
	display: none;
	&.is-current {
		display: block;
	}

	h2 {
		max-width: 57rem;
		width: 100%;
	}

	ul {
		margin-bottom: 3.5rem;
	}
}
