/* ------------------------------------------------------------ *\
	Testimonial
\* ------------------------------------------------------------ */

.testimonial {
	blockquote i,
	blockquote img {
		display: block;
	}

	blockquote i {
		margin-bottom: 1.1rem;
	}

	blockquote {
		font-size: 4rem;
		width: 100%;
		margin-bottom: 2rem;

		@include breakpoint-down(mobile) {
			font-size: 3.2rem;
		}
	}

	cite {
		font-style: normal;
		font-size: 1.6rem;
	}

	.testimonial__author {
		display: flex;
		align-items: center;
	}

	.testimonial__image {
		display: inline-block;
		position: relative;
		width: 8rem;
		height: 8rem;
		border-radius: 50%;
		margin-right: 2.3rem;

		@include breakpoint-down(mobile-medium) {
			flex-shrink: 0;
		}
	}

	.testimonial img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

/* testimonial alt*/

.testimonial--alt {
	blockquote {
		max-width: 55rem;
		font-size: 2.4rem;
		margin-bottom: 3.2rem;
	}
}

/* testimonial small */

.testimonial--small {
	blockquote i {
		@include breakpoint-down(mobile-medium) {
			margin-bottom: 1.3rem;
		}
	}

	blockquote {
		font-size: 2rem;
		margin-bottom: 1.4rem;

		@include breakpoint-down(mobile-medium) {
			font-size: 1.6rem;
			margin-bottom: 2.6rem;
		}
	}
}

/* Testimonial Medium */

.testimonial--medium {
	blockquote {
		font-size: 3.2rem;
	}
}
