/* ------------------------------------------------------------ *\
	Video
\* ------------------------------------------------------------ */

.video {
	max-width: 100%;

	video,
	iframe {
		position: absolute;
		z-index: 1;
		top: 0;
		right: 0;
		width: 100%;
		height: 100%;
		object-fit: contain;
	}

	.video__inner {
		position: relative;
		padding-bottom: 50%;

		@include breakpoint-down(mobile-medium) {
			padding-bottom: 63%;
		}
	}

	.video__inner.has-overlay {
		z-index: 100;
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
	}

	.has-overlay:after {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		display: block;
		width: 100%;
		height: 100%;
		background: url(../images/temp/video--poster.jpg);
		background-size: cover;
		background-position: center center;
		background-repeat: no-repeat;
		z-index: 10;
	}

	.video__banner {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		z-index: 11;
		text-align: center;

		@include breakpoint-down(mobile-medium) {
			width: 100%;
		}
	}

	.video__banner h2 {
		max-width: 35rem;
		width: 100%;
		margin: 0 auto;

		@include breakpoint-down(mobile) {
			font-size: 2.4rem;
		}

		@include breakpoint-down(mobile-medium) {
			max-width: 22rem;
		}
	}

	.video__banner img {
		display: inline-block;
		margin-bottom: 3rem;

		@include breakpoint-down(mobile) {
			margin-bottom: 1.6rem;
		}
	}
}

/* Video Makers */

.video--makers {
	.video__banner h2 {
		max-width: 78rem;
		font-size: 3.2rem;

		@include breakpoint-down(mobile) {
			font-size: 2.4rem;
		}
	}
}

/* Viodeo Philip*/

.video--philip {
	.video__inner.has-overlay:after {
		background: url(../images/temp/philip-overlay.jpg);
		background-size: cover;
	}
}

/* Video Beta DEsign */

.video--beta {
	.video__inner.has-overlay:after {
		background: url(../images/temp/betadesign-overlay.jpg);
		background-size: cover;
	}
}
