<div class="callout-alt" >
	<div class="shell shell--fluid">
		<div class="callout__inner">
			<div class="card-callout">
				<h2>
					Get a quote to get started
				</h2>

				<p>
					Just let us know your email so we can discover your needs and put together a custom quote for your Multiplier machine.
				</p>

				<a href="get-a-quote" class="btn btn--yellow">
					Get a quote
				</a>
			</div><!-- /.card-callout -->

			<div class="card-callout">
				<h2>
					Speak to a Mayku specialist
				</h2>

				<p>
					Got a few questions before you purchase? Our talented team of Mayku product specialists are on hand to answer all your queries.
				</p>

				<a href="specialist" class="btn btn--yellow">
					Speak to a specialist
				</a>
			</div><!-- /.card-callout -->
		</div><!-- /.callout__inner -->
	</div><!-- /.shell shell-/-fluid -->
</div><!-- /.callout -->
