<div class="callout" >
	<div class="shell shell--fluid">
		<div class="callout__inner">
			<div class="card-offer card-offer--callout">
				<div class="card__head">
					<h4 data-batch-subtitle></h4>
				</div><!-- /.card__head -->

				<div class="card__body">
					<div class="card__content">
						<h2 data-batch-title></h2>

						<p data-batch-body-text></p>
					</div><!-- /.card__content -->

					<div class="card__price">
<!-- 						<span class="price-old price-old--alt" data-active-variant="compareAtPrice"></span> -->

						<h2 class="price price--alt" data-active-variant="price"></h2>

						<div class="card__countdown">
							<include src="countdown.html" locals='{
								"class": "countdown--background-red"
							}'></include>
						</div><!-- /.card__countdown -->
					</div><!-- /.card__price -->
				</div><!-- /.card__body -->

				<div class="card__foot">
					<a href="pre-order" class="btn btn--black">
						Pre-order now
					</a>
				</div><!-- /.card__foot -->
			</div><!-- /.card-offer -->
		</div><!-- /.callout__inner -->
	</div><!-- /.shell shell-/-fluid -->
</div><!-- /.callout -->
