<div class="callout-alt" >
	<div class="shell shell--fluid">
		<div class="callout__inner">
			<div class="card-callout">
				<h2>
					Pre-order for exclusive discounts
				</h2>

				<p>
					As a thank you to our community of makers, we're offering up to 58% off the Multiplier for our first machines. Each batch of pre-orders has a different discount offer, so be sure to purchase ASAP to save the most.
				</p>

				<a href="pre-order" class="btn btn--yellow">
					Find out more
				</a>
			</div><!-- /.card-callout -->

			<div class="card-callout">
				<h2>
					Speak to a Mayku specialist
				</h2>

				<p>
					Got a few questions before you purchase? Our talented team of Mayku product specialists are on hand to answer all your queries.
				</p>

				<a href="specialist" class="btn btn--yellow">
					Speak to a specialist
				</a>
			</div><!-- /.card-callout -->
		</div><!-- /.callout__inner -->
	</div><!-- /.shell shell-/-fluid -->
</div><!-- /.callout -->
