<div class="callout" >
	<div class="shell shell--fluid">
		<div class="callout__inner">
			<div class="card-offer card-offer--callout">
				<div class="card__head">
					<h4 data-batch-subtitle></h4>
				</div><!-- /.card__head -->

				<div class="card__body">
					<div class="card__content">
						<h2 data-batch-title></h2>

						<p data-batch-body-text></p>
					</div><!-- /.card__content -->

					
				</div><!-- /.card__body -->

				<div class="card__foot">
					<a href="get-a-quote" class="btn btn--black">
						Get a quote
					</a>
					<a href="specialist" class="btn btn--black-outline">
						Speak to a specialist
					</a>
				</div><!-- /.card__foot -->
			</div><!-- /.card-offer -->
		</div><!-- /.callout__inner -->
	</div><!-- /.shell shell-/-fluid -->
</div><!-- /.callout -->
