<ul class="countdown {{ class }}" style="display:none">
	<li>
		<span class="countdown__days countdown__digit"></span>

		<span class="countdown__text">days</span>
	</li>

	<li>
		<span class="countdown__hours countdown__digit"></span>

		<span class="countdown__text">hours</span>
	</li>

	<li>
		<span class="countdown__minutes countdown__digit"></span>

		<span class="countdown__text">mins</span>
	</li>

	<li>
		<span class="countdown__seconds countdown__digit"></span>

		<span class="countdown__text">secs</span>
	</li>
</ul><!-- /.countdown -->