<div class="gallery" id="gallery-grid" >
	<div class="gallery__inner">
		<div class="gallery__row" data-scroll data-scroll-speed="2" data-scroll-target="#gallery-grid" data-scroll-direction="horizontal">
			<div class="gallery__image" style="background-image:url(assets/images/temp/unindustrial-17.jpg)"></div><!-- /.gallery__image -->

			<div class="gallery__image" style="background-image:url(assets/images/temp/unindustrial-12.jpg)"></div><!-- /.gallery__image -->

			<div class="gallery__image" style="background-image:url(assets/images/temp/unindustrial-6.jpg)"></div><!-- /.gallery__image -->

			<div class="gallery__image" style="background-image:url(assets/images/temp/unindustrial-15.jpg)"></div><!-- /.gallery__image -->

			<div class="gallery__image" style="background-image:url(assets/images/temp/unindustrial-16.jpg)"></div><!-- /.gallery__image -->

			<div class="gallery__image" style="background-image:url(assets/images/temp/unindustrial-17.jpg)"></div><!-- /.gallery__image -->

			<div class="gallery__image" style="background-image:url(assets/images/temp/unindustrial-10.jpg)"></div><!-- /.gallery__image -->

			<div class="gallery__image" style="background-image:url(assets/images/temp/unindustrial-1.jpg)"></div><!-- /.gallery__image -->

			<div class="gallery__image" style="background-image:url(assets/images/temp/unindustrial-2.jpg)"></div><!-- /.gallery__image -->

			<div class="gallery__image" style="background-image:url(assets/images/temp/unindustrial-3.jpg)"></div><!-- /.gallery__image -->
		</div>

		<div class="gallery__row" data-scroll data-scroll-speed="-2" data-scroll-target="#gallery-grid" data-scroll-direction="horizontal">
			<div class="gallery__image" style="background-image:url(assets/images/temp/unindustrial-7.jpg)"></div><!-- /.gallery__image -->

			<div class="gallery__image" style="background-image:url(assets/images/temp/unindustrial-8.jpg)"></div><!-- /.gallery__image -->

			<div class="gallery__image" style="background-image:url(assets/images/temp/unindustrial-9.jpg)"></div><!-- /.gallery__image -->

			<div class="gallery__image" style="background-image:url(assets/images/temp/unindustrial-10.jpg)"></div><!-- /.gallery__image -->

			<div class="gallery__image" style="background-image:url(assets/images/temp/unindustrial-11.jpg)"></div><!-- /.gallery__image -->

			<div class="gallery__image" style="background-image:url(assets/images/temp/unindustrial-10.jpg)"></div><!-- /.gallery__image -->

			<div class="gallery__image" style="background-image:url(assets/images/temp/unindustrial-1.jpg)"></div><!-- /.gallery__image -->

			<div class="gallery__image" style="background-image:url(assets/images/temp/unindustrial-2.jpg)"></div><!-- /.gallery__image -->

			<div class="gallery__image" style="background-image:url(assets/images/temp/unindustrial-3.jpg)"></div><!-- /.gallery__image -->

			<div class="gallery__image" style="background-image:url(assets/images/temp/unindustrial-16.jpg)"></div><!-- /.gallery__image -->

			<div class="gallery__image" style="background-image:url(assets/images/temp/unindustrial-17.jpg)"></div><!-- /.gallery__image -->

			<div class="gallery__image" style="background-image:url(assets/images/temp/unindustrial-10.jpg)"></div><!-- /.gallery__image -->

			<div class="gallery__image" style="background-image:url(assets/images/temp/unindustrial-1.jpg)"></div><!-- /.gallery__image -->

			<div class="gallery__image" style="background-image:url(assets/images/temp/unindustrial-2.jpg)"></div><!-- /.gallery__image -->
		</div><!-- /.gallery__row -->

		<div class="gallery__row" data-scroll data-scroll-speed="2" data-scroll-target="#gallery-grid" data-scroll-direction="horizontal">
			<div class="gallery__image" style="background-image:url(assets/images/temp/unindustrial-12.jpg)"></div><!-- /.gallery__image -->

			<div class="gallery__image" style="background-image:url(assets/images/temp/unindustrial-13.jpg)"></div><!-- /.gallery__image -->

			<div class="gallery__image" style="background-image:url(assets/images/temp/unindustrial-14.jpg)"></div><!-- /.gallery__image -->

			<div class="gallery__image" style="background-image:url(assets/images/temp/unindustrial-15.jpg)"></div><!-- /.gallery__image -->
			
			<div class="gallery__image" style="background-image:url(assets/images/temp/unindustrial-16.jpg)"></div><!-- /.gallery__image -->
			
			<div class="gallery__image" style="background-image:url(assets/images/temp/unindustrial-17.jpg)"></div><!-- /.gallery__image -->
			
			<div class="gallery__image" style="background-image:url(assets/images/temp/unindustrial-10.jpg)"></div><!-- /.gallery__image -->
			
			<div class="gallery__image" style="background-image:url(assets/images/temp/unindustrial-1.jpg)"></div><!-- /.gallery__image -->
			
			<div class="gallery__image" style="background-image:url(assets/images/temp/unindustrial-2.jpg)"></div><!-- /.gallery__image -->
			
			<div class="gallery__image" style="background-image:url(assets/images/temp/unindustrial-3.jpg)"></div><!-- /.gallery__image -->
			
			<div class="gallery__image" style="background-image:url(assets/images/temp/unindustrial-1.jpg)"></div><!-- /.gallery__image -->
			
			<div class="gallery__image" style="background-image:url(assets/images/temp/unindustrial-2.jpg)"></div><!-- /.gallery__image -->
			
			<div class="gallery__image" style="background-image:url(assets/images/temp/unindustrial-3.jpg)"></div><!-- /.gallery__image -->
		</div><!-- /.gallery__row -->

		<div class="gallery__row" data-scroll data-scroll-speed="-2" data-scroll-target="#gallery-grid" data-scroll-direction="horizontal">
			<div class="gallery__image" style="background-image:url(assets/images/temp/unindustrial-10.jpg)"></div><!-- /.gallery__image -->
			
			<div class="gallery__image" style="background-image:url(assets/images/temp/unindustrial-1.jpg)"></div><!-- /.gallery__image -->
			
			<div class="gallery__image" style="background-image:url(assets/images/temp/unindustrial-2.jpg)"></div><!-- /.gallery__image -->
			
			<div class="gallery__image" style="background-image:url(assets/images/temp/unindustrial-3.jpg)"></div><!-- /.gallery__image -->
			
			<div class="gallery__image" style="background-image:url(assets/images/temp/unindustrial-7.jpg)"></div><!-- /.gallery__image -->
			
			<div class="gallery__image" style="background-image:url(assets/images/temp/unindustrial-11.jpg)"></div><!-- /.gallery__image -->
			
			<div class="gallery__image" style="background-image:url(assets/images/temp/unindustrial-22.jpg)"></div><!-- /.gallery__image -->
			
			<div class="gallery__image" style="background-image:url(assets/images/temp/unindustrial-10.jpg)"></div><!-- /.gallery__image -->
			
			<div class="gallery__image" style="background-image:url(assets/images/temp/unindustrial-1.jpg)"></div><!-- /.gallery__image -->
			
			<div class="gallery__image" style="background-image:url(assets/images/temp/unindustrial-2.jpg)"></div><!-- /.gallery__image -->
			
			<div class="gallery__image" style="background-image:url(assets/images/temp/unindustrial-3.jpg)"></div><!-- /.gallery__image -->				
		</div><!-- /.gallery__row -->

		<div class="gallery__row" data-scroll data-scroll-speed="2" data-scroll-target="#gallery-grid" data-scroll-direction="horizontal">
			<div class="gallery__image" style="background-image:url(assets/images/temp/unindustrial-22.jpg)"></div><!-- /.gallery__image -->
			
			<div class="gallery__image" style="background-image:url(assets/images/temp/unindustrial-20.jpg)"></div><!-- /.gallery__image -->
			
			<div class="gallery__image" style="background-image:url(assets/images/temp/unindustrial-21.jpg)"></div><!-- /.gallery__image -->
			
			<div class="gallery__image" style="background-image:url(assets/images/temp/unindustrial-22.jpg)"></div><!-- /.gallery__image -->
			
			<div class="gallery__image" style="background-image:url(assets/images/temp/unindustrial-10.jpg)"></div><!-- /.gallery__image -->
			
			<div class="gallery__image" style="background-image:url(assets/images/temp/unindustrial-1.jpg)"></div><!-- /.gallery__image -->
			
			<div class="gallery__image" style="background-image:url(assets/images/temp/unindustrial-2.jpg)"></div><!-- /.gallery__image -->
			
			<div class="gallery__image" style="background-image:url(assets/images/temp/unindustrial-3.jpg)"></div><!-- /.gallery__image -->					
		</div><!-- /.gallery__row -->

		<div class="gallery__row" data-scroll data-scroll-speed="-2" data-scroll-target="#gallery-grid" data-scroll-direction="horizontal">
			<div class="gallery__image" style="background-image:url(assets/images/temp/unindustrial-12.jpg)"></div><!-- /.gallery__image -->
			
			<div class="gallery__image" style="background-image:url(assets/images/temp/unindustrial-13.jpg)"></div><!-- /.gallery__image -->
			
			<div class="gallery__image" style="background-image:url(assets/images/temp/unindustrial-14.jpg)"></div><!-- /.gallery__image -->
			
			<div class="gallery__image" style="background-image:url(assets/images/temp/unindustrial-15.jpg)"></div><!-- /.gallery__image -->
			
			<div class="gallery__image" style="background-image:url(assets/images/temp/unindustrial-16.jpg)"></div><!-- /.gallery__image -->				
		</div><!-- /.gallery__row -->
	</div><!-- /.gallery__inner -->
</div><!-- /.gallery -->
