//Variables
$font-size-base: 1.8rem;
$font-weight-base: 500;
$line-height-base: 1.2;

$ff-avantgarde: "ITCAvantGardeGothicW01-Book", Helvetica, Arial, sans-serif;
$ff-avantgarde-md: "ITCAvantGardeGothicW01-Md", Helvetica, Arial, sans-serif;
$ff-digital: "Digital Numbers", Helvetica, Arial, sans-serif;
$ff-mono: "B612 Mono", monospace;
$ff-sans-serif: "Helvetica Neue", Helvetica, Arial, sans-serif;
$ff-serif: Georgia, "Times New Roman", Times, serif;

$t-duration: 0.4s;

$shell-max-width: 114rem;
$shell-gutter: 8rem;

$c-black: #000;
$c-black-2: #101314;
$c-white: #fff;
$c-base: #055590;
$c-gray: #898989;
$c-gray-2: #666666;

$c-yellow: #fdd32f;
$c-yellow-dark: #e5ba1c;
$c-yellow-3: #e9bd1f;
$c-orange: #ff4d00;
$c-red: #cd0000;

$responsive-ios: 812px;

$breakpoints: (
	mobile-small: 374px,
	mobile-medium: 575px,
	mobile: 767px,
	admin-bar: 782px,
	tablet: 1023px,
	small-desktop: 1199px,
	large-desktop: 1399px
);
